---
page_title: "Provider: Apstra"
description: |-
  The Apstra provider allows Terraform to control Juniper Apstra fabrics.
---

# {{ .ProviderShortName | title }} Provider

The Apstra provider allows Terraform to control Juniper Apstra fabrics.

It covers day 0 and day 1 operations (design and deployment), and a growing
list of day 2 capabilities.

Use the navigation to the left to read about the available resources.

## Configuration

### Provider configuration stanza

{{ tffile "examples/provider/example.tf" }}

### Credentials

Users are encouraged to pass username and password via the `APSTRA_USER` and
`APSTRA_PASS` environment variables. These credentials may also be set by
embedding them in the URL string using
[standard syntax](https://datatracker.ietf.org/doc/html/rfc1738#section-3.1).
Please consider whether writing credentials to a configuration file is
acceptable in your environment.

### Additional Environment Variables

Provider attributes which have been omitted from the configuration
may be set via environment variables: `APSTRA_API_TIMEOUT`,
`APSTRA_BLUEPRINT_MUTEX_ENABLED`, `APSTRA_BLUEPRINT_MUTEX_MESSAGE`,
`APSTRA_EXPERIMENTAL`, `APSTRA_TLS_VALIDATION_DISABLED`, and `APSTRA_URL`.

{{ .SchemaMarkdown | trimspace }}
